html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  color: #666;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.App {
  max-width: 80%;
  width: 520px;
}

.todos {
  list-style: none;
  margin: 0;
  padding: 0;

  margin: auto;
  border: 1px solid #ececec;

  margin-bottom: 20px;
}

.todos li {
  border-bottom: 1px solid #ececec;
}

.todos li:not(.editing) {
  /* transition: 0.25s ease-out; */
  /* padding: 1rem; */
}

.todos li.completed {
  background: lightyellow;
}

.todos li.editing {
  outline: 1px solid rgba(7, 123, 255, 0.2);
}

.todo-value {
  user-select: none;
}

.todos li.completed .todo-value {
  text-decoration: line-through;
  color: #ececec91;
}

.todos li:not(.completed) .todo-value:hover {
  text-decoration: underline;
  text-decoration-color: #ececec;
}

.todos label {
  flex-grow: 1;
}

.todos input[type='checkbox'] {
  margin-right: 1rem;
}

.add-form {
  margin-bottom: 10px;
  display: flex;
  justify-content: stretch;
}

.add-form input {
  flex: 1;
  border: 1px solid #ececec;
  border-right-width: 0;

  font-size: 1.6rem;
  padding: 0 10px;
}

.add-form button[type='submit'] {
  /* margin-left: 10px; */
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0;
  border: 1px solid #ececec;
  line-height: 2.5;
  padding: 0 15px;
}

.add-form button:hover {
  background-color: lightyellow;
}

.delete-confirmation {
  font-size: 1.4rem;
  /* display: block; */
}

.delete,
.cancel,
.delete-confirm {
  padding: 0;
  margin: 0;
  font-size: inherit;
  border: 0;
  vertical-align: inherit;
  line-height: 1;
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
}

.cancel {
  color: #246340;
}

.delete-confirm {
  color: maroon;
}

.no-todos {
  color: #cecece;
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0;
}

.delete {
  margin-left: auto;
  opacity: 0.5;
  transition: 0.25s ease-out;
  border-left: 1px solid #ececec;
  padding-left: 10px;
}

.delete:hover {
  opacity: 1;
}

.edit-field {
  line-height: 2.9;
  padding: 0 10px;
  font-size: 1.6rem;
  width: 100%;
  border: 0;
}

.delete-confirmation {
  display: block;
}

.todos li > .edit-form {
  padding: 0;
  display: flex;
  align-items: center;
  /* align-items: initial; */
}

.edit-form button {
  border: 0;
  background-color: transparent;
}

.fetch {
  border: 1px solid #ececec;
  margin-left: 5px;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.fetch.loading:before {
  content: '';
  border: 3px solid #6c6c6c93;
  border-left-color: #6c6c6c8f;
  border-bottom-color: #6c6c6cc0;
  border-right-color: #6c6c6ce8;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  margin-right: 5px;
  transform-origin: center;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  align-items: center;
}

.search-field {
  margin-left: auto;
  line-height: 2.8;
  padding: 0 15px;
  border: 0;
  border-radius: 20px;
  background: #f3f3f3;
}

.todo > div {
  width: 100%;
  padding: 1rem;
}

.todo:not(.delete-confirmation) > div {
  display: flex;
  align-items: center;
}

.todo > div.dragging {
  background: #f5fbff;
}

.dragger {
  margin-right: 10px;
  height: 10px;

  background-image: repeating-linear-gradient(
    to bottom,
    #000 1px,
    #ffffff 2px,
    #ffffff 4px,
    #000 5px,
    #ffffff 6px,
    #ffffff 8px,
    #000 9px
  );
  cursor: ns-resize;
  width: 10px;
  align-self: center;
  position: relative;
}

.dragger:hover {
  background-image: repeating-linear-gradient(
    to bottom,
    #6599ee 1px,
    #ffffff 2px,
    #ffffff 4px,
    #6599ee 5px,
    #ffffff 6px,
    #ffffff 8px,
    #6599ee 9px
  );
}
